<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>board</title>
	
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
	
</head>
<body>
    <div class="container">
    	<h2>게시글 목록</h2>
    
    	<table class="board_list">
	        <colgroup>
	            <col width="15%"/>
	            <col width="*"/>
	            <col width="15%"/>
	            <col width="20%"/>
	        </colgroup>
	        <thead>
	            <tr>
	                <th scope="col">글번호</th>
	                <th scope="col">제목</th>
	                <th scope="col">조회수</th>
	                <th scope="col">작성일</th>
	            </tr>
	        </thead>
	        <tbody>
	        <!--controller에서 넘어내용  -->
	        	<tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
	        		<td th:text="${list.boardIdx}"></td>
	        		<td class="title">
	        		<!--글상세목록 링크   --><!-- http://localhost:8081/board/openBoardDetail.do?board_Idx=1 -->
	        		
	        			<a href="/board/" th:attrappend="href=${list.boardIdx}" th:text="${list.title}"></a></td>
	        	
			<!--as-is 	<td class="title" th:text="${list.title}"></td> -->
				
	        		<td th:text="${list.hitCnt}"></td>
	       			<!-- <td th:text="${#temporals.format(list.createdDatetime, 'yyyy-MM-dd HH:mm:ss')}"></td>  -->		
	        		<td th:text="${list.createdDatetime}"></td>
	        	</tr> 
	        	<!--if else   -->
	        	<tr th:unless="${#lists.size(list)} > 0">
	        		<td colspan="4">조회된 결과가 없습니다.</td>
	        	</tr>
	        </tbody>
	    </table>
	  <!--onclick = "location.href = '#' "  -->
	<!--   <button type="button" onclick="location.href='/board/openBoardWrite.do' ">글쓰기</button> -->
	<a href="/board/write/" class="btn">글쓰기</a>
    </div>
</body>
</html>